{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ label }}</h1>

    <div style="width: 400px;">
        {# {{ form(form) }} #}
        {{ form_start(form) }}
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {% if form.created_at is defined %}
            {{ form_label(form.created_at) }}
            {{ form_widget(form.created_at) }}
        {% endif %}
        {{ form_label(form.file) }}
        {{ form_widget(form.file) }}
        {{ form_label(form.agreeTerms) }}
        {{ form_widget(form.agreeTerms) }}
        {{ form_label(form.save) }}
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>

    {% if videos is defined and videos is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">File</th>
                </tr>
            </thead>
            <tbody>
                {% for v in videos %}
                    <tr>
                        <th scope="row">{{ v.id }}</th>
                        <td>{{ v.title }}</td>
                        <td>{{ v.file }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {%  endif %}
{% endblock %}
